{{ define "main" }}
<article class="default-list">
  <header class="content-header">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}<div class="intro">{{ . }}</div>{{ end }}
  </header>

  {{ range .Sections }}
  <div class="list-item">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ with .Summary }}<p>{{ . }}</p>{{ end }}
    <a href="{{ .RelPermalink }}" class="read-more">Learn more &rarr;</a>
  </div>
  {{ end }}

  {{ range .Pages }}
  <div class="list-item">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ with .Summary }}<p>{{ . }}</p>{{ end }}
    <a href="{{ .RelPermalink }}" class="read-more">Read more &rarr;</a>
  </div>
  {{ end }}
</article>
{{ end }}