{{ define "main" }}
<article class="default-list">
  <header class="content-header">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}<div class="intro">{{ . }}</div>{{ end }}
  </header>

  {{ range .Sections }}
  <div class="list-item">
    <h2>{{ partial "safelink" (dict "page" .RelPermalink "text" .Title) }}</h2>
    {{ with .Summary }}<p>{{ . }}</p>{{ end }}
    {{ partial "safelink" (dict "page" .RelPermalink "text" "Learn more →") }}
  </div>
  {{ end }}

  {{ range .Pages }}
  <div class="list-item">
    <h2>{{ partial "safelink" (dict "page" .RelPermalink "text" .Title) }}</h2>
    {{ with .Summary }}<p>{{ . }}</p>{{ end }}
    {{ partial "safelink" (dict "page" .RelPermalink "text" "Read more →") }}
  </div>
  {{ end }}
</article>
{{ end }}